* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    height: 60px;
    width: 100%;
    background-color: green;
    position: fixed;
    display: inline;
    border-bottom: 10px solid #e5cfc2;
}

header li {
    display: inline-block;
    padding: 20px;
}

header a {
    font-size: 20px;
    color: #befafc;
    text-decoration: none;

}

main {
    padding: 80px;
    color: blue;
}

main h2 {
    font-size: medium;
}

section {
    width: 100%;
    border: 2px solid black;
    padding-bottom: 40px;
    background-color: beige;
}

ul {
    list-style-type: none
}

form {
    border: 5px solid #504848;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
}

label {
    width: 100px;
    display: inline-block;
}

section li {
    padding: 4px;
}

button {
    height: 20px;
    width: 50px;
    background-color: aqua;
}

footer {
    width: 100%;
    height: 30px;
    color: antiquewhite;
    padding-top: 20px;
    font-size: larger;
    background-color: green;
}

.text-center {
    text-align: center;

}

.text-right {
    text-align: right;
}